<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webcankaya.mobileappcankaya" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Home_Page"></activity>
        <activity android:name=".Announcement_Page"></activity>
        <activity android:name=".Time_Table"></activity>
        <activity android:name=".Time_Table_Fri"></activity>
        <activity android:name=".Time_Table_Thu"></activity>
        <activity android:name=".Time_Table_Tue"></activity>
        <activity android:name=".Time_Table_Wed"></activity>
        <activity android:name=".All_Announcements"></activity>
        <activity android:name=".Announcement_Home"></activity>
        <activity android:name=".email_page"></activity>
        <activity android:name=".reply_page"></activity>
    </application>
</manifest>